// Breakpoints

$Small-Fun  		: "min-width: 100px" !default;
$mobile-port	  	: "min-width: 320px" !default;
$phablet-port	  	: "min-width: 400px" !default;
$mobile-land 		: "min-width: 432px" !default;
$phablet-land		: "min-width: 667px" !default;
$tablet-port		: "min-width: 768px" !default;
$HD-fullscreen		: "min-width: 960px" !default;
$two-monitors		: "min-width: 1920px" !default;
$three-monitors		: "min-width: 3840px" !default;
$four-queen			: "min-width: 5760px" !default;


//Fun Breakpoints, possibly to use with themes, highly specialized, and possibly pointless, but like, come on, I did the math

$land-hdHalf			: "max-width: 960px" !default;
$land-hdFull			: "max-width: 1920px" !default;
$port-hdFull			: "max-width: 1080px" !default;
$port-hdHalf			: "max-width: 540px" !default;
$land-tablet			: "max-width: 1366px" !default;
$port-tablet			: "max-width: 1024px" !default;
$land-phablet			: "max-width: 768px" !default;
$port-phablet			: "max-width: 432px" !default;
$land-mobile			: "max-width: 667px" !default;
$port-mobile			: "max-width: 432px" !default;