// Colors

$primary-color	: #339966 !default;
$secondary-color: #000000 !default;
$border-color	: $black !default;
$link-color		: #3399CC !default;
$font-color		: #000000 !default;
$a-tetrad-color	: #339966;
$b-tetrad-color	: #333399;
$c-tetrad-color	: #993333;
$d-tetrad-color	: #999933;

//Whites
$Whites-color	: #ffffff !default;
$silver-color	: #cccccc !default;

//Grays
$dusty-gray		: #999999 !default;
$dove-gray		: #666666 !default;
$mine-shaft		: #333333 !default;

//Blacks
$black-color	: #000000 !default;

//Browns
$brown-color	: #68421a !default;
$brown-light	: #915c24 !default;
$brown-dark		: #402810 !default;

//Reds
$red-color		: #993333 !default;
$red-light		: #bf4040 !default;
$red-dark		: #732626 !default;

//Oranges
$orange-color	: #996633 !default;
$orange-light	: #bf8040 !default;
$orange-dark	: #734d26 !default;

//Yellows
$yellow-color	: #999933 !default;
$yellow-light	: #bfbf40 !default;
$yellow-dark	: #737326 !default;

//Greens
$green-color	: #339933 !default;
$green-light	: #40bf40 !default;
$green-dark		: #267326 !default;

//Blues
$blue-color		: #333399 !default;
$blue-light		: #4040bf !default;
$blue-dark		: #262673 !default;

//Violets
$indigo-color	: #663399 !default;
$indigo-light	: #8040bf !default;
$indigo-dark	: #4d2673 !default;