.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  min-width: 1300px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.colorBox {
  margin: 0;
  position: relative;
  min-height: 250px;
}
.color-000000 {
  background-color: black;
  font-color: white;
}
.color-ffffff {
  background-color: white;
  font-color: black;
}
$colors: $silver $mine-shaft $dove-gray $dusty-gray $deep-oak $kumera $west-coast $crown-of-thorns $crail $stiletto $dallas $tussock $potters-clay $crete $turmeric $sycamore $green-pea $sea-green $emerald $astronaut $governor-bay $sapphire $meteorite $fuchsia-blue;
@each $color in $colors {
  .color-#{$color} 
  {
    background-color: ($color);
    font-color: invert($color);
  }
}
.color-663399 {
  background-color: #663399;
  font-color: invert(#663399);
}

$tetrads: $t-sycamore $t-plum $t-sapphire $t-sea-green;
@each $tetrad in $tetrads {
  .tetrad-#{$tetrad} 
  {
    background-color: ($tetrad);
    font-color: invert($tetrad);
  }
}
$triadics: $T-sea-green $T-potters-clay;
@each $triadic in $triadics {
  .triadic-#{$triadic} 
  {
    background-color: ($triadic);
    font-color: invert($triadic);
  }
}
.triadic-#663399 {
  background-color: #663399;
  font-color: invert(#663399);
}
$analColors: $A-lochinvar $A-sea-green $A-apple;
@each $analColor in $analColors {
  .analColor-#{$analColor} 
  {
    background-color: ($analColor);
    font-color: invert($analColor);
  }
}
$complements: $c-rogue $c-sea-green;
@each $complement in $complements {
  .complement-#{$complement} 
  {
    background-color: ($complement);
    font-color: invert($complement);
  }
}
$splitComplements: $sc-plum $sc-sea-green $sc-stiletto;
@each $splitComplement in $splitComplements {
  .splitComplement-#{$splitComplement} 
  {
    background-color: ($splitComplement);
    font-color: invert($splitComplement);
  }
}
$baseColors: $primary-color;
@each $baseColor in $baseColors {
  .baseColor-#{$baseColor} 
  {
    background-color: ($baseColor);
    font-color: invert($baseColor);
  }
}