// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: none;
  &:visited {
  	color: complement($link-color);
  	text-decoration: none;
  }
  &:hover {
  	color: darken($link-color, 10%);
    text-decoration: underline;
  }
  
  &:active {
  	color: invert($link-color);
  	text-decoration: underline;
  }
}