// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: none;
  &:visited {
  	color: saturate(complement($link-color), 20%);
  	text-decoration: none;
  }
  &:hover {
  	color: darken($link-color, 20%);
    text-decoration: underline;
  }
  
  &:active {
  	color: lightens(invert($link-color), 20%);
  	text-decoration: underline;
  }
}