// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1300px !default;
$block-min-height: 200px !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 0% !default; // space between columns


// Misc
$global-radius: 4px !default;
